<div class="special-container">
  <%= image_tag "Background-2.jpg", width: "100%", height: "100%", class: "d-inline-block align-top", alt: "About" %>

  <div class="centered-top-lower">
    <h1 style="color: orange; font-family: SCRIPTIN;font-size: 200px;">
      About
    </h1>
  </div>

</div>

<div class="container-fluid">
  <h2 style="color: black; font-family: Architex; font-size: 40px; font-weight: bold;">
    Sandra Mashin is a psychologist and teacher who has worked in the education field for over twenty years.
    She has spent decades researching her passion - students learning a collection of effective writing skills.
    Through her research she has devised a unique and easy to understand writing program that aims at teaching students how to properly structure sentences, incorporate vocabulary/rhetoric and formulate effective essays and stories.
    In addition, her time spent working as a principal, department head and tutor provided her with a wealth of insight into the individualized needs of students and parents.
    As a teacher, Sandra specializes in teaching a range of exceptional students, ranging from gifted to students with learning disabilities.
    Her mission is to provide the language skills that are no longer taught so that students can build successful careers of their dream.
    Her program is for everyone.
  </h2>
</div>
