<div class="special-container">
  <%= image_tag "Smashin-2.jpg", width: "100%", height: "100%", class: "d-inline-block align-top", alt: "Home" %>

  <div class="centered-top">
  </br></br>
    <h1 style="color: orange; font-family: SCRIPTIN; font-size: 85px; font-weight: bold;">
      Smashin English
    </h1>
  </div>

  </br></br>

  <div class=row-fluid>
    <h3 style="color: black; font-family: SCRIPTIN;font-size: 60px;">
          More Words! Bigger Words! Better Words!
    </h3>
  </div>

  </br></br>

</div>
